In [16]:
import re
x=input("enter your password ?")
flag=0
while True:
    if (len(x)<6 or len(x)>20):
        flag=-1
        break
    elif  not re.search("[a-z]",x):
        flag=-1
        break
    elif not re.search("[0-9]",x):
        flag=-1
        break
    elif not re.search("[A-Z]",x):
        flag=-1
        break
    elif not re.search("[$#@%]",x):
        flag=-1
        break
    elif not re.search("\s",x):
        flag=-1
        break
    else:
        flag=0
        print("valid password:")
        break
if False:
    flag=-1
    print("not valid password:")

enter your password ?dfbasd

In [6]:
#fibonacci series
n1=0
n2=1
x=int(input("enter the value of x:"))
print(f" first {x} fibonacci series are:")
print(n1)#printing first value
print(n2)#printing second value
for num in range(2,x):
    sum=n1+n2
    print(sum)
    n1=n2
    n2=sum

enter the value of x:5
 first 5 fibonacci series are:
0
1
1
2
3

In [14]:
#prime or composite
x=int(input("enter x= "))
y=int(input("enter y= "))
for num in range(x,y+1):
    for i in range(2,num):
        if num%i==0:
            print("normal number is:",num)
            break
    else:
        print("prime number is:",num)

enter x= 2
enter y= 12
prime number is: 2
prime number is: 3
normal number is: 4
prime number is: 5
normal number is: 6
prime number is: 7
normal number is: 8
normal number is: 9
normal number is: 10
prime number is: 11
normal number is: 12

In [11]:
#removing a lsit value .
list1=[[1,"ram",78,"patan"],
      [2,"bibek",78,"gaindakot"],
       [3,"carlos",66,"nepal"],
       [4,"ram",23,"india"]]
for num in range(len(list1)-1):
    if "ram" in list1[num][1]:
        del list1[num]
print(list1)

[[2, 'bibek', 78, 'gaindakot'], [3, 'carlos', 66, 'nepal']]

In [10]:
#marksheet
list1=[]
sum=0
num=int(input(" Enter Number of students:"))
for i in range(num):
    DAA=int(input("enter marks of DAA= \n"))
    CG=int(input("enter marks of CG= \n"))
    IOT=int(input("enter marks of IOT= \n"))
    OS=int(input("enter marks of OS= \n"))
    AIML=int(input("enter marks AIML= \n"))
    ST=int(input("enter marks ST= \n"))
    store=[[DAA,CG,IOT,OS,AIML,ST]]# i refers to roll number.
    list1=list1+store
    sum=sum+list1[0][i]
print(list1)
print(sum)

 Enter Number of students:2
enter marks of DAA=
11
enter marks of CG=
11
enter marks of IOT=
11
enter marks of OS=
11
enter marks AIML=
11
enter marks ST=
11
enter marks of DAA=
11
enter marks of CG=
11
enter marks of IOT=
11
enter marks of OS=
11
enter marks AIML=
11
enter marks ST=
11
[[11, 11, 11, 11, 11, 11], [11, 11, 11, 11, 11, 11]]
22

# b=[]
a=((1,'ram'),(2,'shyam'))
n=len(a)
for i in range(n):
    b.append(list(a[i]))
b

In [11]:
x=int(input("enter x= "))
y=int(input("enter y= "))
for num in range(x,y+1):
    for i in range(2,num):
        if num%i==0:
            print("number",num)
            break
    else:
        print(num)

enter x= 2
enter y= 12
2
3
number 4
5
number 6
7
number 8
number 9
number 10
11
number 12

In [4]:
b=[]
a=((1,'ram'),(2,'shyam'))
n=len(a)
for i in range(n):
    b.update(list(a[i]))
a

AttributeError: 'list' object has no attribute 'update'

In [19]:
b=[]
a=((1,'ram'),(2,'shyam'))
for i in range(len(a)):
    b.append(set(a[i]))
    #b.update(a[i][2],"nepal")
b

[{1, 'ram'}, {2, 'shyam'}]

In [7]:
sum=0
x=[3,6,8,1,4]
for i in range(len(x)):
    sum=sum+x[i]
print(sum)

22

In [2]:
"""Accept number from user and calculate the sum of all number between 1 and
given number."""
num=int(input("enter how many times you want to execute the loop?\n"))
sum=0
for i in range(num):
    x=int(input("enter the value of x:"))
    sum=sum+x
print(sum)

enter how many times you want to execute the loop?
4
enter the value of x:5
enter the value of x:10
enter the value of x:20
enter the value of x:40
75

In [8]:
"""Given a list iterate it and display numbers which are divisible by 5 and if you
find number greater than 150 stop the loop iteration. list1 = [12, 15, 32, 42,
55, 75, 122, 132, 150, 180, 200]"""


list1 = [12, 15, 32, 42,55, 75, 122, 132, 150, 180, 200]
index=0
for index in range(len(list1)):
    if list1[index]>150:
        print("out of limit.")
        break
    elif list1[index]%5==0:
        print(list1[index])

15
55
75
150
out of limit.

In [10]:
#Display Fibonacci series up to 10 terms
num=int(input("enter how many number you want ?\n"))
print("fibonacci series are:")
n1=0
n2=1
print(n1)
print(n2)
for num in range(2,num):
    sum=n1+n2
    print(sum)
    n1=n2
    n2=sum

enter how many number you want ?
10
fibonacci series are:
0
1
1
2
3
5
8
13
21
34

In [4]:
#Find the sum of the series 2 +22 + 222 + 2222 + .. n terms
list1=[]
n=int(input("how many?\n"))
for i in range(1,n+1):
    x="2"*i
    list1.append(x)
print(list1)
for num in range(len(list1)):
    list1[num]=int(list1[num])
print(list1)
print("required sum is:",sum(list1))

how many?
3
['2', '22', '222']
[2, 22, 222]
required sum is: 246

In [35]:
#Remove empty strings from a list of strings
#x=[eval(e) for e in input("enter the string").split(',')]
x=["bibek","","carlos","","cat"]
num=x.count("")
print(num)
for i in range(num):
    if "" in x:
        x.remove("")
print(x)

2
['bibek', 'carlos', 'cat']

6
7
8
9

['bibek', 'carlos']

/*Jon is @developer & musician

In [3]:
list1=[]
n=int(input("how many?\n"))
for i in range(1,n+1):
    x="2"*i
    list1.append(x)
print(list1)
for num in range(len(list1)):
    list1[num]=int(list1[num])
print(list1)
print("required sum is:",sum(list1))

how many?
3
['2', '22', '222']
[2, 22, 222]
required sum is: 246

In [3]:
#remove the unwanted special character.
str1 = "/*Jon is @developer & musician"
b="/* @" 
for x in b:
    str1=str1.replace(x,"")
print(str1)

Jonisdeveloper&musician

In [14]:
#Remove all composite no from any list and save only prime numbers
x=int(input("enter x= "))
y=int(input("enter y= "))
for num in range(x,y+1):
    for i in range(2,num):
        if num%i==0:
            print("number",num)
            break
    else:
        print(num)

enter x= 2
enter y= 10
2
3
number 4
5
number 6
7
number 8
number 9
number 10

In [7]:
a={}
print(type(a))

<class 'dict'>

In [6]:
#Validate the given string is email or not
import re
regex = '^[a-z0-9]+[\._]?[a-z0-9]+[@]\w+[.]\w{2,3}$'
x=input("enter your email?\n")
if (re.search(regex,x)):
    print("valid:")
else:
    print("invalid:")

enter your email?
bibekrawat223@gmail.com
valid:

In [8]:
#billing system:
data={}
name=input("enter your name?\n")
for i in range(3):
    item_name=input("enter item name?\n")
    price=int(input("enter the price?\n"))
    data[name]=[item_name,price]
print(data)

enter your name?
bibek
enter item name?
copy
enter the price?
34
enter item name?
car
enter the price?
345
enter item name?
book
enter the price?
12
{'bibek': ['book', 12]}