In [1]:
#creating a csv file.
try:
    z=open("carlos.csv","x")
    z.close()
    print("file is created:")
except:
    print("exist!")

file is created:

In [13]:
info=""
n=int(input("enter how many times?"))
for num in range(1,n+1):
    name=input("enter your name?")
    math=int(input("math = "))
    phy=int(input("phy ="))
    che=int(input("che ="))
    total=f"{num},{name},{math},{phy},{che}\n"
    info+=total
print(info)
z=open("carlos1.csv","a")
z.write(info)
z.close()

enter how many times?5
enter your name?bibek
math = 12
phy =11
che =12
enter your name?bikash
math = 1
phy =11
che =12
enter your name?carlos
math = 12
phy =12
che =12
enter your name?binaya
math = 13
phy =13
che =13
enter your name?santosh
math = 23
phy =12
che =11
1,bibek,12,11,12
2,bikash,1,11,12
3,carlos,12,12,12
4,binaya,13,13,13
5,santosh,23,12,11

In [14]:
import pandas as pd
data=pd.read_csv("carlos1.csv")#reading a file data
print(data)

       SN     NAME  MATH  PHY  CH
0       1    bibek    12   11  12
1       2   bikash     1   11  12
2       3   carlos    12   12  12
3       4   binaya    13   13  13
4       5  santosh    23   12  11

In [15]:
import pandas as pd
data=pd.read_csv("carlos1.csv",nrows=2)#show only particular output
print(data)

       SN    NAME  MATH  PHY  CH
0       1   bibek    12   11  12
1       2  bikash     1   11  12

In [19]:
import pandas as pd
data=pd.read_csv("carlos1.csv",index_col="SN")#setting SN as global variable. 
print(data)

       NAME  MATH  PHY  CH
SN
1     bibek    12   11  12
2    bikash     1   11  12
3    carlos    12   12  12
4    binaya    13   13  13
5   santosh    23   12  11

In [2]:
#head() function
import pandas as pd
data=pd.read_csv("carlos1.csv",index_col="SN")#setting SN as global variable. 
print(data.head(3))

      NAME  MATH  PHY  CH
SN
1    bibek    12   11  12
2   bikash     1   11  12
3   carlos    12   12  12

In [3]:
#head() function
import pandas as pd
data=pd.read_csv("carlos1.csv",index_col="SN")#setting SN as global variable. 
print(data.tail(2))

       NAME  MATH  PHY  CH
SN
4    binaya    13   13  13
5   santosh    23   12  11

In [6]:
#extract value in any positions.
import pandas as pd
data=pd.read_csv("carlos1.csv",index_col="SN")
print(data.loc["2":"4"])

      NAME  MATH  PHY  CH
SN
2   bikash     1   11  12
3   carlos    12   12  12
4   binaya    13   13  13

In [12]:
import pandas as pd
x=pd.read_csv("carlos1.csv",index_col="NAME")
print(x.loc["bikash":"binaya"])

        SN  MATH  PHY  CH
NAME
bikash   2     1   11  12
carlos   3    12   12  12
binaya   4    13   13  13

In [17]:
#extract value in any positions.
import pandas as pd
data=pd.read_csv("carlos1.csv",index_col="SN")
print(data["NAME"]=="bikash")

SN
1    False
2     True
3    False
4    False
5    False
Name: NAME, dtype: bool

In [35]:
#extract value in any positions.
import pandas as pd
data=pd.read_csv("carlos1.csv",index_col="SN")
print(data[data["NAME"]=="bikash"])

x

In [21]:
print(data[data["MATH"]>10])

       NAME  MATH  PHY  CH
SN
1     bibek    12   11  12
3    carlos    12   12  12
4    binaya    13   13  13
5   santosh    23   12  11

In [29]:
print(data[(data["MATH"]>10) & (data["PHY"]>12)])

      NAME  MATH  PHY  CH
SN
4   binaya    13   13  13

In [32]:
print(data[(data["MATH"]>10) | (data["PHY"]>12)])

       NAME  MATH  PHY  CH
SN
1     bibek    12   11  12
3    carlos    12   12  12
4    binaya    13   13  13
5   santosh    23   12  11

In [34]:
#it will copy the from one file to another. 
data.to_csv("copy.csv")

In [7]:
#datraframe()
import pandas as pd
info={"S.N":[1,2],"name":["bibek","carlos"],"add":["nepal","china"],"age":[13,56]}
#print(info)
df=pd.DataFrame(info)
print(df)
df.to_csv("xyz.csv")
import pandas as pd
df=pd.read_csv("xyz.csv",index_col="S.N")
print(df)

   S.N    name    add  age
0    1   bibek  nepal   13
1    2  carlos  china   56
     Unnamed: 0    name    add  age
S.N
1             0   bibek  nepal   13
2             1  carlos  china   56

NameError: name 'df' is not defined

In [43]:
import pandas as pd
 
# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 
            'portal', 'for', 'Geeks']
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [5]:
#creating a csv file.
with open("abc.csv","w+") as f:
    f.read()
n=int(input("how many you  want?"))
info=""
for i in range(1,n+1):
    name=input("enter your name?")
    age=int(input("enter your age?"))
    add=input("enter your address?")
    salary=int(input("enter salary?"))
    x=f"{i},{name},{age},{add},{salary}\n"
    info+=x
print(info)
with open("abc.csv","a") as f:
    f.write(info)

how many you  want?6
enter your name?bibek
enter your age?23
enter your address?nepal
enter salary?500
enter your name?nanda
enter your age?25
enter your address?barma
enter salary?267
enter your name?shubham
enter your age?26
enter your address?nepal
enter salary?360
enter your name?sovit
enter your age?26
enter your address?bhutan
enter salary?500
enter your name?kelvin
enter your age?28
enter your address?malawi
enter salary?450
enter your name?shyrans
enter your age?27
enter your address?nepal
enter salary?400
1,bibek,23,nepal,500
2,nanda,25,barma,267
3,shubham,26,nepal,360
4,sovit,26,bhutan,500
5,kelvin,28,malawi,450
6,shyrans,27,nepal,400

In [9]:
import pandas as pd
df=pd.read_csv("abc.csv")
print(df)

   S.N     NAME  AGE COUNTRY  SALARY($)
0    1    bibek   23   nepal        500
1    2    nanda   25   barma        267
2    3  shubham   26   nepal        360
3    4    sovit   26  bhutan        500
4    5   kelvin   28  malawi        450
5    6  shyrans   27   nepal        400

In [14]:
import pandas as pd
data_frame=pd.read_csv("abc.csv",nrows=2)
print(data_frame)

   S.N   NAME  AGE COUNTRY  SALARY($)
0    1  bibek   23   nepal        500
1    2  nanda   25   barma        267

In [16]:
import pandas as pd
data_frame=pd.read_csv("abc.csv",index_col="S.N")
print(data_frame)

        NAME  AGE COUNTRY  SALARY($)
S.N
1      bibek   23   nepal        500
2      nanda   25   barma        267
3    shubham   26   nepal        360
4      sovit   26  bhutan        500
5     kelvin   28  malawi        450
6    shyrans   27   nepal        400

In [20]:
import pandas as pd
df=pd.read_csv("abc.csv",index_col="S.N")
print(df.head(4))

        NAME  AGE COUNTRY  SALARY($)
S.N
1      bibek   23   nepal        500
2      nanda   25   barma        267
3    shubham   26   nepal        360
4      sovit   26  bhutan        500

In [21]:
import pandas as pd
df=pd.read_csv("abc.csv",index_col="S.N")
print(df.tail(2))

        NAME  AGE COUNTRY  SALARY($)
S.N
5     kelvin   28  malawi        450
6    shyrans   27   nepal        400

In [22]:
import pandas as pd
df=pd.read_csv("abc.csv",index_col="S.N")
print(df.loc['2':'5'])

        NAME  AGE COUNTRY  SALARY($)
S.N
2      nanda   25   barma        267
3    shubham   26   nepal        360
4      sovit   26  bhutan        500
5     kelvin   28  malawi        450

In [28]:
import pandas as pd
df=pd.read_csv("abc.csv",index_col="AGE")
print(df)
print(df.loc[25:26])

     S.N     NAME COUNTRY  SALARY($)
AGE
23     1    bibek   nepal        500
25     2    nanda   barma        267
26     3  shubham   nepal        360
26     4    sovit  bhutan        500
28     5   kelvin  malawi        450
27     6  shyrans   nepal        400
     S.N     NAME COUNTRY  SALARY($)
AGE
25     2    nanda   barma        267
26     3  shubham   nepal        360
26     4    sovit  bhutan        500

In [1]:
import pandas as pd
df=pd.read_csv("abc.csv",index_col="S.N")
print(df)
print(df[df["NAME"]=="sovit"])

        NAME  AGE COUNTRY  SALARY($)
S.N
1      bibek   23   nepal        500
2      nanda   25   barma        267
3    shubham   26   nepal        360
4      sovit   26  bhutan        500
5     kelvin   28  malawi        450
6    shyrans   27   nepal        400
      NAME  AGE COUNTRY  SALARY($)
S.N
4    sovit   26  bhutan        500

In [8]:
print(df)
print(df[df['AGE']>25])
print(df[(df['AGE']>24) & (df['AGE']<28)])
print(df[(df['AGE']>24) | (df['AGE']<28)])

        NAME  AGE COUNTRY  SALARY($)
S.N
1      bibek   23   nepal        500
2      nanda   25   barma        267
3    shubham   26   nepal        360
4      sovit   26  bhutan        500
5     kelvin   28  malawi        450
6    shyrans   27   nepal        400
        NAME  AGE COUNTRY  SALARY($)
S.N
3    shubham   26   nepal        360
4      sovit   26  bhutan        500
5     kelvin   28  malawi        450
6    shyrans   27   nepal        400
        NAME  AGE COUNTRY  SALARY($)
S.N
2      nanda   25   barma        267
3    shubham   26   nepal        360
4      sovit   26  bhutan        500
6    shyrans   27   nepal        400
        NAME  AGE COUNTRY  SALARY($)
S.N
1      bibek   23   nepal        500
2      nanda   25   barma        267
3    shubham   26   nepal        360
4      sovit   26  bhutan        500
5     kelvin   28  malawi        450
6    shyrans   27   nepal        400

In [18]:
import pandas as pd
info={"S.N":[1,2,3],"NAME":['bibek','nanda','shubham'],"ADD":['gaindakot','yungan','lahan']}
df=pd.DataFrame(info)
df

   S.N     NAME        ADD
0    1    bibek  gaindakot
1    2    nanda     yungan
2    3  shubham      lahan

In [19]:
df.to_csv('data.csv')

In [20]:
import pandas as pd
df=pd.read_csv("data.csv",index_col="S.N")
print(df)

     Unnamed: 0     NAME        ADD
S.N
1             0    bibek  gaindakot
2             1    nanda     yungan
3             2  shubham      lahan

In [16]:
import csv
fil=[4,"carlos","china"]
with open("data.csv" ,"a") as f:
    writer = csv.writer(f)
    writer.writerow(fil)

In [25]:
import csv
with open("data.csv","a") as f:
    x=csv.writer(f)
    for i in range(1,3):
        sn=int(input("enter S.N="))
        name=input("enter name:")
        age=int(input("enter your age?"))
        info=[{sn},{name},{age}]
        x.writerow(info)

enter S.N=1
enter name:fad
enter your age?12
enter S.N=2
enter name:asfd
enter your age?23

In [37]:
import pandas as pd
info1={"S.N":[1,2,3],"NAME":['bibek','nanda','shubham'],"ADD":['gaindakot','yungan','lahan']}
df1=pd.DataFrame(info1)
info2={"S.N":[4,5,6],"NAME":['bibek1','nanda1','shubham1'],"ADD":['gaindakot1','yungan1','lahan1']}
df2=pd.DataFrame(info2)
info3={"S.N":[7,8,9],"NAME":['bibek2','nanda2','shubham2'],"ADD":['gaindakot2','yungan2','lahan2']}
df3=pd.DataFrame(info3)
df=pd.concat([df1,df2,df3])
df.to_csv("datafrmae.csv")
x=pd.read_csv("datafrmae.csv")
print(x)

   Unnamed: 0  S.N      NAME         ADD
0           0    1     bibek   gaindakot
1           1    2     nanda      yungan
2           2    3   shubham       lahan
3           0    4    bibek1  gaindakot1
4           1    5    nanda1     yungan1
5           2    6  shubham1      lahan1
6           0    7    bibek2  gaindakot2
7           1    8    nanda2     yungan2
8           2    9  shubham2      lahan2