In [3]:
a={}
print(type(a))

a={"a":"apple","b":"ball","c":"cat"}
print(a["a"])
print(len(a))
print(type(a))

<class 'dict'>
apple
3
<class 'dict'>

In [ ]:
#properties
1>mutable
2>duplicate value
3>support indexing#user define index
4>unordered

In [2]:
a={"a":"apple","b":"ball","c":"cat","A":"ant"}
b={"a":"apple","b":"ball","c":"cat","a":"animal"}#update the with letest value.
print(a)
print(b)

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'A': 'ant'}
{'a': 'animal', 'b': 'ball', 'c': 'cat'}

In [6]:
#adding value into a empety dictionary.
a={}
a["1"]="apple"
a["2"]="ball"
a["3"]="cat"
print(a)

{'1': 'apple', '2': 'ball', '3': 'cat'}

In [8]:
a={'1': 'apple', '2': 'ball', '3': 'cat'}
for i in a.values():#apple,ball,cat
    print(i)
    
for i in a.items():#it will return value with index.
    print(i)

apple
ball
cat
('1', 'apple')
('2', 'ball')
('3', 'cat')

In [9]:
list1=[]
a={'1': 'apple', '2': 'ball', '3': 'cat'}
list1.append(a)
print(list1)

[{'1': 'apple', '2': 'ball', '3': 'cat'}]

In [10]:
list1=[]
a={'1': 'apple', '2': 'ball', '3': 'cat'}
for i in a.items():
    list1.append(i)
print(list1)

[('1', 'apple'), ('2', 'ball'), ('3', 'cat')]

In [2]:
#inserting a value in a dictionary.
data={}
n=int(input("how many times?\n"))
for i in range(n):
    name=input("enter your name?\n")
    age=int(input("enter your age?\n"))
    data[name]=age
print(data)

how many times?
2
enter your name?
bibek
enter your age?
12
enter your name?
carlos
enter your age?
5
{'bibek': 12, 'carlos': 5}

In [3]:
#same index but single value.
a={('bibek',): 12, ('carlos',): 5}
print(a)

{('bibek',): 12, ('carlos',): 5}

In [4]:
#multiple index but single value
a={('bibek','binaya'): 12, ('carlos','david'): 5}
print(a)

{('bibek', 'binaya'): 12, ('carlos', 'david'): 5}

In [5]:
#with list
a={['bibek','binaya']: 12, ['carlos','david']: 5}
print(a)
#it will show error

TypeError: unhashable type: 'list'

In [6]:
#with set
a={{'bibek','binaya'}: 12, {'carlos','david'}: 5}
print(a)
#it will show error

TypeError: unhashable type: 'set'

In [12]:
#one index and multiple value.
a={"ram":(123,456),"shyam":(789,101112)}
print(a)
print(a["shyam"][1])
print(a["ram"][0])

{'ram': (123, 456), 'shyam': (789, 101112)}
101112
123

In [16]:
#program to accessing a user data.
x={'ram': (123, 456), 'shyam': (789, 101112)}
name=input("enter name?\n")
choice=input("enter 1 for home and 2 for personal")
if choice=="1":
    print(a[name][0])
elif choice=="2":
    print(a[name][1])

enter name?
shyam
enter 1 for home and 2 for personal2
101112

In [7]:
#{"ram":[234,578],"shyam":[647,568]} printing a data in this format.

a={}
num=int(input("enter how many times?"))
for i in range(num):
    name=input("enter your name?\n")
    pn=int(input("enter your phone number?\n"))
    ln=int(input("enter your home number?\n"))
    a[name]=[pn,ln]
print(a)

#new value inseting in a dictionary.
a["hari"]=[2345,8980]
print(a)

 #deleting hari second number.   
del a["hari"][1]
print(a)

enter how many times?2
enter your name?
bibek
enter your phone number?
123
enter your home number?
234
enter your name?
carlos
enter your phone number?
456
enter your home number?
789
{'bibek': [123, 234], 'carlos': [456, 789]}
{'bibek': [123, 234], 'carlos': [456, 789], 'hari': [2345, 8980]}
{'bibek': [123, 234], 'carlos': [456, 789], 'hari': [2345]}

In [16]:
a={}
num=int(input("enter how many times?"))
for i in range(1,num+1):
    name=input("enter your name?\n")
    math=int(input("enter your marks in math?\n"))
    python=int(input("enter your marks in python?\n"))
    c=int(input("enter your marks in c?\n"))
    total=sum([math,python,c])
    per=total/3
    a[i]=[name,math,python,c,total,per]
print(a)

enter how many times?2
enter your name?
bibek
enter your marks in math?
90
enter your marks in python?
80
enter your marks in c?
78
enter your name?
carlos
enter your marks in math?
12
enter your marks in python?
89
enter your marks in c?
99
{1: ['bibek', 90, 80, 78, 248, 82.66666666666667], 2: ['carlos', 12, 89, 99, 200, 66.66666666666667]}

info={}
n=int(input("how many times?\n")
for i in range(n):
name=input("bkadskj")

In [21]:
#program to ptint marks of same subject together.
info={}
na=[]
ma=[]
py=[]
c1=[]
num=int(input("enter how many times?"))
for i in range(num):
    name=input("enter your name?\n")
    math=int(input("enter your marks in math?\n"))
    python=int(input("enter your marks in python?\n"))
    c=int(input("enter your marks in c?\n"))
    na.append(name)
    ma.append(math)
    py.append(python)
    c1.append(c)
    info={"name":na,"math":ma,"python":py,"c":c1}
print(info)

enter how many times?2
enter your name?
bibek
enter your marks in math?
12
enter your marks in python?
12
enter your marks in c?
12
enter your name?
carlos
enter your marks in math?
11
enter your marks in python?
11
enter your marks in c?
11
{'name': ['bibek', 'carlos'], 'math': [12, 11], 'python': [12, 11], 'c': [12, 11]}

#dict inside dict
syntax:
a={<key>:{<key>:<value><value>.....}}

In [3]:
#dict inside dict.
a={1:{1:"a",2:"b"},2:{3:"a",4:"b"}}
print(a)
info={"ram":{"landline":234,"mobile":3435},"shyam":{"landline":2323214,"mobile":343534}}
print(info)
print(info["shyam"]["mobile"])#it will return shyam mobile number.
info["hari"]={"lanline":345,"mobile":67934}#adding one more item in a dict.
print(info)
info["hari"]={"lanline":3333,"mobile":67934}#updating a value of hari
info["hari"]["mobile"]=9999#update mobile number using a index.
print(info)

{1: {1: 'a', 2: 'b'}, 2: {3: 'a', 4: 'b'}}
{'ram': {'landline': 234, 'mobile': 3435}, 'shyam': {'landline': 2323214, 'mobile': 343534}}
343534
{'ram': {'landline': 234, 'mobile': 3435}, 'shyam': {'landline': 2323214, 'mobile': 343534}, 'hari': {'lanline': 345, 'mobile': 67934}}
{'ram': {'landline': 234, 'mobile': 3435}, 'shyam': {'landline': 2323214, 'mobile': 343534}, 'hari': {'lanline': 3333, 'mobile': 9999}}

In [4]:
#adding a data into format.
info={}
num=int(input("enter how many times ?\n"))
for i in range(num):
    name=input("enter your name?\n")
    phone=int(input("enter your phone number?\n"))
    age=int(input("enter your age?\n"))
    info[phone]={"name":name,"age":age}
print(info)

enter how many times ?
2
enter your name?
carlos
enter your phone number?
123
enter your age?
23
enter your name?
bibek
enter your phone number?
213
enter your age?
34
{123: {'name': 'carlos', 'age': 23}, 213: {'name': 'bibek', 'age': 34}}

In [6]:
#adding country in a given dictionary.
x={123: {'name': 'carlos', 'age': 23}, 213: {'name': 'bibek', 'age': 34}}
for i in range(len(x)):
    phone=int(input("enter the phone number?\n"))
    country=input("enter the country?\n")
    x[phone]["country"]=country
print(x)

enter the phone number?
123
enter the country?
nepal
enter the phone number?
213
enter the country?
china
{123: {'name': 'carlos', 'age': 23, 'country': 'nepal'}, 213: {'name': 'bibek', 'age': 34, 'country': 'china'}}

In [8]:
#adding a country with the help of i. 
x={1: {'name': 'carlos', 'age': 23}, 2: {'name': 'bibek', 'age': 34}}
for i in range(1,len(x)+1):
    country=input("enter the country?\n")
    x[i]["country"]=country
print(x)

enter the country?
america
enter the country?
germany
{1: {'name': 'carlos', 'age': 23, 'country': 'america'}, 2: {'name': 'bibek', 'age': 34, 'country': 'germany'}}

In [9]:
#set inside dict.
a={"games":{"football","cricket"},"language":{"c++","python"}}
print(a)

{'games': {'football', 'cricket'}, 'language': {'python', 'c++'}}

In [ ]:
#compheransive properties of list,tuple and dict.

In [11]:
#compheransive list

list1=[int(x) for x in input("enter the list elements?\n").split('.')]#for integere
print(list1)

list2=[x for x in input("enter the list elements?\n").split('.')]#for string
print(list2)

enter the list elements?
1.5.7.8.33
[1, 5, 7, 8, 33]
enter the list elements?
apple.ball.cat.dog
['apple', 'ball', 'cat', 'dog']

In [ ]:
#compheransive tuple

tuple1=(int(x) for x in input("enter the tuple elements?\n").split('.'))#for integere
print(tuple1)

tuple2=(x for x in input("enter the tuple elements?\n").split('.'))#for string
print(tuple2)

In [2]:
#dictionary example
a={"a":"apple","b":"ball"}
print(a)
print(a["a"])

{'a': 'apple', 'b': 'ball'}
apple

In [4]:
a={"a":"apple","b":"ball","a":"ant"}
print(a)

{'a': 'ant', 'b': 'ball'}

In [9]:
a={}
a["a"]='apple'
a["b"]="ball"
a["c"]="cat"
print(a)
for i in a.values():
    print(i)
for i in a.items():
    print(i)

{'a': 'apple', 'b': 'ball', 'c': 'cat'}
apple
ball
cat
('a', 'apple')
('b', 'ball')
('c', 'cat')

In [12]:
b=[]
for i in a.items():
    b.append(i)
print(b)

[('a', 'apple'), ('b', 'ball'), ('c', 'cat')]

In [13]:
info={}
n=int(input("how many times?"))
for i in range(n):
    name=input("enter your name?")
    age=int(input("enter your age?"))
    info[name]=age
print(info)

how many times?2
enter your name?bibek
enter your age?12
enter your name?carlos
enter your age?45
{'bibek': 12, 'carlos': 45}

In [14]:
a={("a","b"):45,"c":23}
print(a)

{('a', 'b'): 45, 'c': 23}

In [18]:
a={"a":["bibek","carlos"],"b":[34,56]}
print(a)
print(a["b"])
print(a["a"][0])

{'a': ['bibek', 'carlos'], 'b': [34, 56]}
[34, 56]
bibek

In [1]:
a={"bibek":[123,3454],"carlos":[451,674]}
name=input("enter your name?")
index=input("0 for mbl 1 for landline")
if index=="0":
    print(a[name][0])
else:
    print(a[name][1])

enter your name?carlos
0 for mbl 1 for landline1
674

In [4]:
x={}
n=int(input("enter the value of n:"))
for i in range(n):
    name=input("enter your name?")
    phone1=int(input("enter your phone number"))
    phone2=int(input("enter your lanline number"))
    x[name]=[phone1,phone2]
print(x)

enter the value of n:2
enter your name?bibek
enter your phone number12
enter your lanline number23
enter your name?carlos
enter your phone number45
enter your lanline number23
{'bibek': [12, 23], 'carlos': [45, 23]}

In [6]:
a={'bibek': [12, 23], 'carlos': [45, 23]}
a["neha"]=[234,568]
print(a)

{'bibek': [12, 23], 'carlos': [45, 23], 'neha': [234, 568]}

In [8]:
print(a["neha"][1])

568

In [9]:
del a["neha"][0]
print(a)

{'bibek': [12, 23], 'carlos': [45, 23], 'neha': [568]}

In [18]:
dict1={}
n=int(input("enter how many times ?"))
for i in range(1,n+1):
    name=input("enter your name:")
    che=int(input("chemistry ="))
    math=int(input("math ="))
    phy=int(input("phy ="))
    english=int(input("english ="))
    total=sum([che,math,phy,english])
    per=(total/4)
    dict1[i]=[name,che,math,phy,english,per]
print(dict1)

enter how many times ?2
enter your name:bibek
chemistry =23
math =34
phy =45
english =32
enter your name:carlos
chemistry =56
math =73
phy =45
english =76
{1: ['bibek', 23, 34, 45, 32, 33.5], 2: ['carlos', 56, 73, 45, 76, 62.5]}

In [19]:
info={}
na=[]
ph=[]
ch=[]
ma=[]
to=[]
pe=[]
n=int(input("how many times?"))
for i in range(n):
    name=input("enter your name?")
    phy=int(input("phy ="))
    che=int(input("che ="))
    math=int(input("math ="))
    total=sum([phy,che,math])
    per=total/4
    na.append(name)
    ph.append(phy)
    ch.append(che)
    ma.append(math)
    to.append(total)
    pe.append(per)
    info={"name":na,"phy":ph,"che":ch,"math":ma,"total":to,"per":pe}
print(info)

how many times?2
enter your name?bibek
phy =23
che =34
math =54
enter your name?carlos
phy =45
che =67
math =45
{'name': ['bibek', 'carlos'], 'phy': [23, 45], 'che': [34, 67], 'math': [54, 45], 'total': [111, 157], 'per': [27.75, 39.25]}

In [20]:
import pandas as pd
x=pd.DataFrame(info)
x

     name  phy  che  math  total    per
0   bibek   23   34    54    111  27.75
1  carlos   45   67    45    157  39.25

In [26]:
#dict inside dict
a={1:{"a":"apple","b":"ball"},2:{"c":"cat","d":"dog"}}
print(a)

info={"ram":{"mbl":3452,"landline":2435},"shyam":{"mbl":345,"phone":556}}
print(info)
print(info["shyam"]["phone"])
info["tappu"]={"mbl":4523,"phone":43522}
print(info)
print(info["tappu"]["mbl"])

{1: {'a': 'apple', 'b': 'ball'}, 2: {'c': 'cat', 'd': 'dog'}}
{'ram': {'mbl': 3452, 'landline': 2435}, 'shyam': {'mbl': 345, 'phone': 556}}
556
{'ram': {'mbl': 3452, 'landline': 2435}, 'shyam': {'mbl': 345, 'phone': 556}, 'tappu': {'mbl': 4523, 'phone': 43522}}
4523

In [27]:
info={}
n=int(input("how many times?"))
for i in range(n):
    phone=int(input("enter phone number:"))
    name=input("enter your name")
    age=int(input("enter your age:"))
    add=input("enter your address:")
    info[phone]={"name":name,"age":age,"add":add}
print(info)

how many times?2
enter phone number:23
enter your namebibek
enter your age:34
enter your address:nepal
enter phone number:6438
enter your namecarlos
enter your age:23
enter your address:china
{23: {'name': 'bibek', 'age': 34, 'add': 'nepal'}, 6438: {'name': 'carlos', 'age': 23, 'add': 'china'}}

In [31]:
x={23: {'name': 'bibek', 'age': 34, 'add': 'nepal'}, 6438: {'name': 'carlos', 'age': 23, 'add': 'china'}}
x[56273]={"name":"bikash","age":34,"add":"aus"}
n=len(x)
for i in range(n):
    uid=int(input("enter uid:"))
    phone=int(input('enter phone nmber'))
    x[phone]["uid"]=uid
print(x)

enter uid:127
enter phone nmber23
enter uid:4536
enter phone nmber6438
enter uid:5879
enter phone nmber56273
{23: {'name': 'bibek', 'age': 34, 'add': 'nepal', 'uid': 127}, 6438: {'name': 'carlos', 'age': 23, 'add': 'china', 'uid': 4536}, 56273: {'name': 'bikash', 'age': 34, 'add': 'aus', 'uid': 5879}}

In [32]:
a={"games":{"football","cricket"},"books":{"c++","python"}}
print(a)

{'games': {'cricket', 'football'}, 'books': {'c++', 'python'}}