In [2]:
def fun1(num):
    return num + 25
    print(num)
fun1(5)

30

In [3]:
def add(a, b):
    return a+5, b+5

result = add(3, 2)
print(result)

(8, 7)

In [6]:
#python program to find out largest among the three number
def max(x,y,z):
    if x>y and x>z:
        return x
    elif y>x and y>z:
        return y
    else:
        return z
max(3,6,7)

7

In [2]:
#sum of all the elemnt in list
list1=[8,2,3,0,7]
sum=0
for i in list1:
    sum=sum+i
print(sum)

20

In [4]:
#sum of list using function
def list_function():
    list1=[5,5,3,0,7]
    sum=0
    for i in list1:
        sum=sum+i
    print("sum of list is",sum)
list_function()

sum of list is 20

In [4]:
#multiplication of all number using function in list
def multiplication():
    list1=[2,6,8,2,1]
    mul=1
    for i in list1:
        mul=i*mul
    print("total multiplication is:",mul)
multiplication()

total multiplication is: 192

In [13]:
#python program to reverse a string
def reverse1():
    x=input("enter the string:")
    print(x[::-1])
reverse1()

enter the string:rawat
tawar

In [31]:
#calculate the factorial
def factorial(n):
    if n==0:
        return 1
    elif n<-1:
        return "not possible"
    else:
        return n*factorial(n-1)
factorial(5)

120

In [48]:
#to find no.is present or not
def number():
        list1=[2,6,7,3,4,1]
        x= 11 in list1
        print(x)
number()

False

In [4]:
def upper_lower():
    x="BIBek"
    count=0
    for num in x:
        if num.isupper():
            count+=1
    print("upper are",count)
upper_lower()

upper are 3