In [2]:
#Write a Python program to create a tuple with different data types
x=("bibek",1,"3",2.65,True)
print(x)
print(type(x))

('bibek', 1, '3', 2.65, True)
<class 'tuple'>

In [10]:
# Write a Python program to create a tuple with numbers and print one item
x=(2,5,6)
print(x[2])

6

In [12]:
#Write a Python program to add an item in a tuple.
x=(2,5,7)
y=(8,)
print(x+y)

(2, 5, 7, 8)

In [17]:
#Write a Python program to convert a tuple to a string.
x=("a","b","c")
a="".join(x)
print(a)

abc

In [20]:
#Write a Python program to get the 4th element and 4th element from last of a tuple.
x=(1,2,3,4,5,6,7,8,9,0)
print(x[3],x[-4])

4 7

In [21]:
#Write a Python program to create the colon of a tuple.
x=(4,6,9)
for i in range(5):
    print(x)

(4, 6, 9)
(4, 6, 9)
(4, 6, 9)
(4, 6, 9)
(4, 6, 9)

In [22]:
#Write a Python program to find the repeated items of a tuple. 
x=(1,1,12,3,1,2,3,5,7,1,1,)
print(x.count(1))

5

In [26]:
#Write a Python program to convert a list to a tuple.
x=[3,4]
a=tuple(x)
print(a)
print(type(a))

(3, 4)
<class 'tuple'>

In [36]:
#Write a Python program to remove an item from a tuple.
x=(4,6,7)
print(x[:2])

(4, 6)

#Write a Python program to slice a tuple.
x=(3,6,89,34,3)
print(x[2:5])

In [5]:
#Write a Python program to slice a tuple.
x=(3,6,89,34,3,3,6,87,34,3,4,5,5)
print(x[2:6])

(89, 34, 3, 3)

In [7]:
#Write a Python program to find the index of an item of a tuple.
x=(2,345,4,2,65,34,2)
for i in range(len(x)):
    print(i,end="--->")
    print(x[i])

0--->2
1--->345
2--->4
3--->2
4--->65
5--->34
6--->2

In [14]:
#Write a Python program to convert a tuple to a dictionary.
x=(2,4,5)
y=("bibek","carlos","david")
dict1=(dict(zip(x,y)))
print(dict1)

{2: 'bibek', 4: 'carlos', 5: 'david'}

In [19]:
##Write a Python program to convert a tuple to a dictionary.
lst = ['a', 1, 'b', 2, 'c', 3]
dict1={}
for i in range(len(lst)):
    lst[i]+=lst[i+1]
print(lst)

TypeError: can only concatenate str (not "int") to str

In [26]:
#Write a Python program to unzip a list of tuples into individual lists.
a=[(1,2), (3,4), (8,9)]
print(list(zip(*a)))

[(1, 3, 8), (2, 4, 9)]

In [37]:
#Write a Python program to reverse a tuple
x=(2,34,56,1)
#print(x[::-1])
a=reversed(x)
print(tuple(a))

(1, 56, 34, 2)

In [38]:
#Write a Python program to convert a list of tuples into a dictionary.
l = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
print(dict(zip(l,l)))

{('x', 1): ('x', 1), ('x', 2): ('x', 2), ('x', 3): ('x', 3), ('y', 1): ('y', 1), ('y', 2): ('y', 2), ('z', 1): ('z', 1)}

In [40]:
#Write a Python program to replace last value of tuples in a list. 
x=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
x[1]=(40,50,90)
x[2]=(70,70,70)
print(x)

[(10, 20, 40), (40, 50, 90), (70, 70, 70)]

In [47]:
#Write a Python program to remove an empty tuple(s) from a list of tuples.
L = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
l=[t for t in l if t]
print(l)

[('x', 1), ('x', 2), ('x', 3), ('y', 1), ('y', 2), ('z', 1)]